# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea
.vscode
.cursor

# Claude
.claude

# Finder (MacOS) folder config
.DS_Store
cig-loop

scratch
cig-loop-1774402749194.log
cig-loop-1774402761851.log
cig-loop-1774816454361.log
cig-loop-1774816472322.log
cig-loop-1774816593720.log
cig-loop-1774816609202.log
cig-loop-1774816690388.log
cig-loop-1774816713862.log
cig-loop-1774816759868.log
cig-loop-1774816886922.log
cig-loop-1774816905510.log
cig-loop-1774817205342.log
cig-loop-1774818319032.log
